body {
    background-color: black;
}
body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(128, 175, 177);
    border-radius: 50px;
}
h3{
    color: #d4f0ed;
    font-family: 'Itim', cursive;
}
h5{
    color: #0cecda;
    font-family: 'Itim', cursive;
}
#bloques{
    justify-content: center;
    margin-left: 5%;
    margin-right: auto;
    text-align:center;
    width: 70%;    
 }
#izquierda {
    float: left;
    width: 45%;
    margin: 1px;
    border-radius: 25%;
    background:#b5ebeba1
}
#derecha {
    float: right;
    width: 53%;
    margin: 1px;
}

#boton{
    margin: 10px;
  }
  
input{
width: 200px;
height: 45px;
background-color: #b5ebeba1;
color: #020e0d;
font: bold 100% monospace;
border-radius: 15px 15px 15px 15px;
}
input:hover {
    background-color: #2EBDB1;
    color: black;
}
button{
    width: 200px;
    height: 45px;
    background-color: #b5ebeba1;
    color: #020e0d;
    font: bold 100% monospace;
    border-radius: 15px 15px 15px 15px;
    }
button:hover {
    background-color: #2EBDB1;
    color: black;
}