body {
    background-color: black;
}
h3{
    color: #0de9d3;
    font-family: 'Itim', cursive;
}
h5{
    color: #0cecda;
    font-family: 'Itim', cursive;
}
#chat{
    border-radius: 2.5%;
    background-color: #18e7e7e8;
    height: 500px;
    width: 800px;
}