body {
    background-color: black;
}
h3{
    color: #0de9d3;
    font-family: 'Itim', cursive;
}
h5{
    color: #0cecda;
    font-family: 'Itim', cursive;
}
#chat{
    border-radius: 2.5%;
    background-color: #18e7e7e8;
    height: 500px;
    width: 800px;
}
input{
    border-radius: 2.5%;
    height: 25px;
    width: 700px;
    background-color: #b5ebeba1;
    font: bold 100% monospace;
    font-display: 'Itim', cursive;
}
input:hover {
    background-color: #2EBDB1;
}

button{
    width: 70px;
    height: 25px;
    background-color: #b5ebebe5;
    color: #020e0d;
    font: bold 100% monospace;
    border-radius: 15px 15px 15px 15px;
    }
button:hover {
    background-color: #2EBDB1;
    color: black;
}

#display{
    color: #000000;
    font-family: 'Itim', cursive;
}