body {
    background-color: black;
}
h3{
    color: #0cecda;
    font-family: 'Itim', cursive;
}
h5{
    color: #0cecda;
    font-family: 'Itim', cursive;
}
#bloques{
    justify-content: center;
    margin-left: 5%;
    margin-right: auto;
    text-align:center;
    width: 70%;
 }
#izquierda {
    float: left;
    width: 47%;
    margin: 1px;
}
#derecha {
    float: right;
    width: 45%;
    margin: 1px;
}